 <div class="page-container-bg-solid">
    <div class="page-wrapper">
        <div class="page-wrapper-row">
            <div class="page-wrapper-top">
                <div class="page-header">
                    <div class="page-header-top">
                        <div class="container">
                            <div class="page-logo">
                                    <img src="../../assets/images/logo.png" alt="logo" style="height: 75px;">
                            </div>
                            <a href="javascript:;" class="menu-toggler"></a>
                            <div class="top-menu">
                                <ul class="nav navbar-nav pull-right">
                                    <li class="dropdown dropdown-user dropdown-dark">
                                        <p class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">    
                                            <span class="username-margin username-hide-mobile">{{currentUser.name}}</span>
                                            <a [routerLink]="['/user', currentUser.id]" class="user-icons"><i class="icon-user"></i></a>
                                            <a (click)="logOut()" class="user-icons"><i class="icon-logout"></i></a>       
                                        </p>  
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="page-header-menu">
                        <div class="container">
                            <div class="hor-menu  ">
                                <ul class="nav navbar-nav">
                                    <li aria-haspopup="true" class="menu-dropdown mega-menu-dropdown  ">
                                        <a routerLink="/dashboard"><i class="icon-home"></i> Dashboard </a>
                                    </li>
                                    <li aria-haspopup="true" class="menu-dropdown mega-menu-dropdown" *ngIf="hasRole('ROLE_ADMIN') || hasRole('ROLE_ASSISTANT')">
                                        <a href="javascript:;"><i class="icon-users"></i>Ügyfelek
                                        </a>
                                        <ul class="dropdown-menu" >
                                            <li>
                                                <div class="mega-menu-content">
                                                    <div class="row"> 
                                                        <ul class="mega-menu-submenu">
                                                            <li>
                                                                <a routerLink="/clients">
                                                                <i class="icon-pencil"></i> Ügyfélkezelés </a>
                                                            </li>
                                                            <li>
                                                                <a routerLink="/profile">
                                                                <i class="icon-user-follow"></i> Új ügyfél regisztrációja </a>
                                                            </li>
                                                        </ul> 
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                    <li aria-haspopup="true" class="menu-dropdown classic-menu-dropdown">
                                        <a href="javascript:;">
                                            <i class="icon-book-open"></i> Tanfolyamok
                                            <span class="arrow"></span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li aria-haspopup="true" class=" ">
                                                <a routerLink="/trainings" class="nav-link nav-toggle ">
                                                    <i class="icon-map"></i> Tanfolyamok kezelése
                                                </a> 
                                            </li>
                                            <li aria-haspopup="true" class="dropdown" *ngIf="hasRole('ROLE_ADMIN') || hasRole('ROLE_ASSISTANT')">
                                                <a routerLink="/training-new" class="nav-link nav-toggle ">
                                                    <i class="icon-pencil"></i> Tanfolyam hozzáadása  
                                                </a>
                                            </li>
                                        </ul>           
                                    </li>
                                    <li aria-haspopup="true" class="menu-dropdown classic-menu-dropdown">
                                        <a href="javascript:;">
                                            <i class="icon-compass"></i> Oktatási helyszínek
                                            <span class="arrow"></span>
                                        </a>
                                        <ul class="dropdown-menu pull-left">
                                            <li aria-haspopup="true" class="dropdown-submenu ">
                                                <a routerLink="/map" class="nav-link nav-toggle ">
                                                    <i class="icon-directions"></i> Budapest
                                                    <span class="arrow"></span>
                                                </a>
                                                <ul class="dropdown-menu">
                                                    <li aria-haspopup="true" class=" ">
                                                        <a routerLink="/map" fragment="map-bp-ulloi" class="nav-link ">
                                                        <i class="icon-pin"></i> Üllői út 25. </a>
                                                    </li>
                                                    <li aria-haspopup="true" class=" ">
                                                        <a routerLink="/map" fragment="map-bp-hattyu" class="nav-link ">
                                                        <i class="icon-pin"></i> Hattyúház </a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li aria-haspopup="true" class="dropdown ">
                                                <a routerLink="/map" fragment="map-gyor" class="nav-link nav-toggle ">
                                                    <i class="icon-direction"></i> Győr
                                                </a>   
                                            </li>
                                            <li aria-haspopup="true" class="dropdown ">
                                                <a routerLink="/map" fragment="map-szeged" class="nav-link nav-toggle ">
                                                    <i class="icon-direction"></i> Szeged
                                                </a>  
                                            </li>
                                        </ul>
                                    </li>

<!--                                    <li aria-haspopup="true" class="menu-dropdown classic-menu-dropdown ">
                                        <a href="javascript:;"><i class="icon-envelope-open"></i> Üzenetek
                                            <span class="arrow"></span>
                                        </a>  
                                    </li>
                                    <li aria-haspopup="true" class="menu-dropdown classic-menu-dropdown ">
                                        <a href="javascript:;"><i class="icon-calendar"></i> Naptár
                                            <span class="arrow"></span>
                                        </a>
                                        <ul class="dropdown-menu pull-left">
                                            <li aria-haspopup="true" class=" ">
                                                <a class="nav-link  ">
                                                    <i class="icon-calendar"></i> Oktatói naptár
                                                </a>
                                            </li>
                                            <li aria-haspopup="true" class="dropdown-submenu" >
                                                <a class="nav-link  ">
                                                    <i class="icon-calendar"></i> Teremfoglaltság
                                                    <span class="arrow"></span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li> -->
                                    <li aria-haspopup="true" class="menu-dropdown mega-menu-dropdown" *ngIf="hasRole('ROLE_ADMIN') || hasRole('ROLE_ASSISTANT')">
                                        <a href="javascript:;"><i class="icon-users"></i>Rendszerkezelés
                                        </a>
                                        <ul class="dropdown-menu" >
                                            <li>
                                                <div class="mega-menu-content">
                                                    <div class="row"> 
                                                        <ul class="mega-menu-submenu">
                                                            <li>
                                                                <a routerLink="/users">
                                                                <i class="icon-pencil"></i> Felhasználók kezelése </a>
                                                            </li>
                                                            <li>
                                                                <a routerLink="/registration">
                                                                <i class="icon-envelope-letter"></i> Új felhasználó meghívása </a>
                                                            </li>
                                                            <li *ngIf="hasRole('ROLE_ADMIN')">
                                                                <a routerLink="/setup">
                                                                <i class="icon-settings"></i> Beálltások </a>
                                                            </li>
                                                        </ul> 
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>  
                                </ul>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>