<div class="container">
    <div class="portlet-light page-content-inner"  *ngIf="hasRole('ROLE_ADMIN') || hasRole('ROLE_ASSISTANT')">
        <div class="col-md-7">                
            <div class="portlet light ">
                <div class="portlet-title">
                    <div class="caption font-dark">
                        <span class="caption-subject indygo-color bold uppercase"> Induló kurzusok listája</span>
                    </div>
                </div>
                <label class="hint pull-left"> Találatok oldalanként: 
                    <select class="form-control input-sm input-xsmall input-inline" [(ngModel)]="currentItemsPerCoursePage">
                        <option *ngFor="let i of itemsPerPage" value="{{ i.key }}">{{ i.text }}</option>
                    </select>
                </label>
                <div class="portlet-body">
                   <table class="table table-striped table-bordered text-center table-hover order-column" id="sample_1">
                        <thead>
                            <tr>
                                <th> Típus </th>
                                <th class="text-center"> Név </th>
                                <th class="text-center"> Időpont </th>
                                <th class="text-center"> Min. létszám </th>
                                <th class="text-center"> Jelentkezők </th>
                                <th class="text-center"> Érdeklődők </th>
                            </tr>
                        </thead>
                        <tbody *ngIf="courseList.length == 0">
                            <tr>
                                <td colspan="6" class="text-center"><em>Nincsenek aktuális kurzusok.</em></td>
                            </tr>
                        </tbody>
                        <tbody *ngIf="courseList.length > 0">
                            <tr class="odd gradeX" *ngFor="let course of courseList; let i = index;" [ngClass]="{ odd : i%2, even : !(i%2) }" (click)="navigateToClient(course.id)">
                                <td class="label label-sm label-primary text-left"> {{ course.type }}</td>
                                <td> {{ course.name }} </td>
                                <td> {{ course.dateStart}} </td>
                                <td> {{ course.minStudents }} </td>
                                <td> {{ actClients }} </td>
                                <td> {{ inquirer }} </td>
                            </tr>
                        </tbody>
                    </table>
                    <nav aria-label="...">
                        <ul class="pagination justify-content-end">
                            <li class="page-item" [ngClass]="{ disabled : currentCoursePage == 1 }"><a class="page-link" (click)="getNeededPage(1)">
                                <i class="fa fa-angle-double-left"></i>                
                            </a></li>
                            <li class="page-item" [ngClass]="{ disabled : currentCoursePage == 1 }"><a class="page-link" (click)="getNeededPage(currentPage-1)">
                                <i class="fa fa-angle-left"></i>                
                            </a></li>
                            <li class="page-item" [ngClass]="{ active : p == currentCoursePage }" *ngFor="let p of pagesList(coursePageCount)">
                                <a class="page-link" (click)="getNeededPage(p)">{{p}}</a>
                            </li>
                            <li class="page-item" [ngClass]="{ disabled : currentCoursePage == pageCount }"><a class="page-link" (click)="getNeededPage(currentPage+1)">
                                <i class="fa fa-angle-right"></i>                
                            </a></li>
                            <li class="page-item" [ngClass]="{ disabled : currentCoursePage == pageCount }"><a class="page-link" (click)="getNeededPage(pageCount)">
                                <i class="fa fa-angle-double-right"></i>                
                            </a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="portlet-light page-content-inner"  *ngIf="hasRole('ROLE_ADMIN') || hasRole('ROLE_ASSISTANT')">
        <div class="col-md-5">
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet light ">
                        <div class="portlet-title">
                            <div class="caption font-dark">
                                <span class="caption-subject indygo-color bold uppercase"> Érdeklődők listája</span>
                            </div>
                        </div>
                        <label class="hint pull-left"> Találatok oldalanként: 
                            <select class="form-control input-sm input-xsmall input-inline" [(ngModel)]="currentItemsPerClientPage">
                                <option *ngFor="let i of itemsPerPage" value="{{ i.key }}">{{ i.text }}</option>
                            </select>
                        </label>
                        <div class="portlet-body">
                            <table class="table table-striped table-bordered text-center table-hover order-column" id="sample_1">
                                <thead>
                                    <tr>
                                        <th> Név </th>
                                        <th class="text-center"> E-mail </th>
                                        <th class="text-center"> Státusz </th>
                                    </tr>
                                </thead>
                                <tbody *ngIf="guestList.length == 0">
                                    <tr>
                                        <td colspan="4" class="text-center"><em>Nincsenek aktuális érdeklődők.</em></td>
                                    </tr>
                                </tbody>
                                <tbody *ngIf="guestList.length > 0">
                                    <tr class="odd gradeX" *ngFor="let guest of guestList; let i = index;" [ngClass]="{ odd : i%2, even : !(i%2) }" (click)="navigateToClient(guest.id)">
                                        <td class="text-left"> {{guest.name}} </td>
                                        <td> {{guest.email}} </td>
                                        <td> <span class="label label-sm label-primary"> {{ guest.status }} </span> </td>
                                    </tr>
                                </tbody>
                            </table>
                            <nav aria-label="...">
                                <ul class="pagination justify-content-end">
                                    <li class="page-item" [ngClass]="{ disabled : currentClientPage == 1 }"><a class="page-link" (click)="getNeededClientPage(1)">
                                        <i class="fa fa-angle-double-left"></i>                
                                    </a></li>
                                    <li class="page-item" [ngClass]="{ disabled : currentClientPage == 1 }"><a class="page-link" (click)="getNeededClientPage(currentPage-1)">
                                        <i class="fa fa-angle-left"></i>                
                                    </a></li>
                                    <li class="page-item" [ngClass]="{ active : p == currentClientPage }" *ngFor="let p of pagesList(clientPageCount)">
                                        <a class="page-link" (click)="getNeededPage(p)">{{p}}</a>
                                    </li>
                                    <li class="page-item" [ngClass]="{ disabled : currentClientPage == pageCount }"><a class="page-link" (click)="getNeededClientPage(currentPage+1)">
                                        <i class="fa fa-angle-right"></i>                
                                    </a></li>
                                    <li class="page-item" [ngClass]="{ disabled : currentClientPage == pageCount }"><a class="page-link" (click)="getNeededClientPage(pageCount)">
                                        <i class="fa fa-angle-double-right"></i>                
                                    </a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portlet-light page-content-inner"  *ngIf="hasRole('ROLE_TRAINER')">
        <div class="col-md-12">                
            <div class="portlet light ">
                <div class="portlet-title">
                    <div class="caption font-dark">
                        <span class="caption-subject indygo-color bold uppercase"> Induló kurzusok listája</span>
                    </div>
                </div>
                <label class="hint pull-left"> Találatok oldalanként: 
                    <select class="form-control input-sm input-xsmall input-inline" [(ngModel)]="currentItemsPerCoursePage">
                        <option *ngFor="let i of itemsPerPage" value="{{ i.key }}">{{ i.text }}</option>
                    </select>
                </label>
                <div class="portlet-body">
                   <table class="table table-striped table-bordered text-center table-hover order-column" id="sample_1">
                        <thead>
                            <tr>
                                <th> Típus </th>
                                <th class="text-center"> Név </th>
                                <th class="text-center"> Időpont </th>
                                <th class="text-center"> Min. létszám </th>
                                <th class="text-center"> Jelentkezők </th>
                                <th class="text-center"> Érdeklődők </th>
                            </tr>
                        </thead>
                        <tbody *ngIf="courseList.length == 0">
                            <tr>
                                <td colspan="6" class="text-center"><em>Nincsenek aktuális kurzusok.</em></td>
                            </tr>
                        </tbody>
                        <tbody *ngIf="courseList.length > 0">
                            <tr class="odd gradeX" *ngFor="let course of courseList; let i = index;" [ngClass]="{ odd : i%2, even : !(i%2) }" (click)="navigateToClient(course.id)">
                                <td class="label label-sm label-primary text-left"> {{ course.type }}</td>
                                <td> {{ course.name }} </td>
                                <td> {{ course.dateStart}} </td>
                                <td> {{ course.minStudents }} </td>
                                <td> {{ actClients }} </td>
                                <td> {{ inquirer }} </td>
                            </tr>
                        </tbody>
                    </table>
                    <nav aria-label="...">
                        <ul class="pagination justify-content-end">
                            <li class="page-item" [ngClass]="{ disabled : currentCoursePage == 1 }"><a class="page-link" (click)="getNeededPage(1)">
                                <i class="fa fa-angle-double-left"></i>                
                            </a></li>
                            <li class="page-item" [ngClass]="{ disabled : currentCoursePage == 1 }"><a class="page-link" (click)="getNeededPage(currentPage-1)">
                                <i class="fa fa-angle-left"></i>                
                            </a></li>
                            <li class="page-item" [ngClass]="{ active : p == currentCoursePage }" *ngFor="let p of pagesList(coursePageCount)">
                                <a class="page-link" (click)="getNeededPage(p)">{{p}}</a>
                            </li>
                            <li class="page-item" [ngClass]="{ disabled : currentCoursePage == pageCount }"><a class="page-link" (click)="getNeededPage(currentPage+1)">
                                <i class="fa fa-angle-right"></i>                
                            </a></li>
                            <li class="page-item" [ngClass]="{ disabled : currentCoursePage == pageCount }"><a class="page-link" (click)="getNeededPage(pageCount)">
                                <i class="fa fa-angle-double-right"></i>                
                            </a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>