<crm-header></crm-header>
<div class="container">
    <div class="portlet-light page-content-inner">
        <div class="portlet light ">
            <div class="col-xs-12">
                <div class="portlet-title">
                    <div class="caption font-dark">
                        <span class="caption-subject bold uppercase"> helyszíneink: </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portlet-light page-content-inner">
        <div class="portlet light ">
            <div class="col-xs-12">
                <div class="portlet-title">
                    <div class="caption font-dark map">
                    <span class="caption-subject bold cim" id="map-bp-hattyu"> Budapest, Hattyúház, Hattyú u. 14. </span>
                    <div class="googleMap" id="googleMap11"></div>
                </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portlet-light page-content-inner">
        <div class="portlet light ">
            <div class="col-xs-12">
                <div class="portlet-title">
                    <div class="caption font-dark map">
                    <span class="caption-subject bold cim" id="map-bp-ulloi"> Budapest, Üllői út 25.  </span>
                    <div class="googleMap" id="googleMap12"></div>
                </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portlet-light page-content-inner">
        <div class="portlet light ">
            <div class="col-xs-12">
                <div class="portlet-title">
                    <div class="caption font-dark map">
                    <span class="caption-subject bold cim" id="map-szeged"> Szeged, Hotel Korona  </span>
                    <div class="googleMap" id="googleMap2"></div>
                </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portlet-light page-content-inner">
        <div class="portlet light ">
            <div class="col-xs-12">
                <div class="portlet-title">
                    <div class="caption font-dark map">
                    <span class="caption-subject bold cim" id="map-gyor"> Győr, Hotel Ibis, Szent István út 10./B. </span>
                    <div class="googleMap" id="googleMap3"></div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
<crm-footer></crm-footer>



