.dashboard {
	margin-top: 90px;
	margin-bottom: 40px;
}

img {
	transform: scale();
	transition: all 0.5s;
}
img:hover {
	transform: scale(1.3);
}
.cbp-l-grid-projects-title {
	margin-top: 50px;
}
.indygo-color {
	color: #00ae92;
}
.indygo {
	background-color: #00ae92;
	color:white; 
}