<crm-header></crm-header>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <img src="../../assets/images/toll.jpg" style="margin-top: 50px;">      
        </div>
        <div class="col-md-6">
            <div class="portlet light ">
                <div class="portlet-title tabbable-line">
                    <div class="caption caption-md">
                        <span class="caption-subject bold uppercase">Új meghívó küldése</span>
                    </div>
                </div>
                <div class="form-group" [ngClass]="{ 'has-error' : errors.name }">
                    <p class="hint"> Teljes név<span class="must-have-write">*</span>: </p>
                    <input class="form-control placeholder-no-fix" type="text" placeholder="név" [(ngModel)]="user.name" (blur)="onBlurMethodName()" name="name" /> 
                    <span class="help-block" *ngIf="errors.name">{{ errors.name }}</span>
                </div>
                <div class="form-group"[ngClass]="{ 'has-error' : errors.email }">
                    <p class="hint"> E-mail cím<span class="must-have-write">*</span>: </p>
                    <input class="form-control placeholder-no-fix" type="email" placeholder="e-mail" [(ngModel)]="user.email" (blur)="onBlurMethodEmail()" name="email" />
                    <span class="help-block" *ngIf="errors.email">{{ errors.email }}</span>
                </div>
                <div class="form-group" [ngClass]="{ 'has-error' : errors.role }">
                    <p class="hint"> Ügyfél típusa<span class="must-have-write">*</span>: </p>
                    <select class="form-control" [(ngModel)]="user.role" (blur)="onBlurMethodRole()">
                        <option value="" disabled>Kérem válasszon!</option>
                        <option value="{{r.key}}" *ngFor="let r of roles">{{r.value}}</option>
                    </select>
                    <span class="help-block" *ngIf="errors.role">{{ errors.role }}</span>
                </div>    
                <div class="form-group" [ngClass]="{ 'has-error' : errors.invExp }">
                    <p class="hint"> Meghívó érvényessége (nap)<span class="must-have-write">*</span>:</p>
                    <input class="form-control placeholder-no-fix" type="number" min="1" [(ngModel)]="invExp" (blur)="onBlurMethodInvExp()" name="validtime" /> </div>
                    <span class="help-block" *ngIf="errors.invExp">{{ errors.invExp }}</span>
                <div class="form-group">
                    <p class="hint"> Meghívó szövege: </p>
                    <textarea [(ngModel)]="invText" name="decription"></textarea>
                </div>
                <p class="hint">A <span class="must-have-write">*</span>-al írt mezők kitöltése kötelező!</p>
                <div class="form-actions">
                    <button clicked type="submit" id="register-submit-btn" class="btn indygo uppercase pull-right" (click)="doSubmit()">Elküld</button>
                </div>

                <div class="modal fade" id="registrerSuccessModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Sikeres meghívó küldése</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            A meghívót elküldtük a {{user.email}} emailcímre.</div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">BEZÁR</button></div>
                        </div>
                    </div>
                </div>
           </div>
        </div>
    </div>
</div> 
<crm-footer></crm-footer>