<div class="container login">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
            <div class="logo">
                <a href="http://www.indygo-coaching.hu/">
                <img src="../../assets/images/logo.png" style="height: 100px;" alt="" /> </a>
            </div>
            <!-- END LOGO -->
            <!-- BEGIN LOGIN -->
            <div class="content">
                <!-- BEGIN LOGIN FORM -->
                <div class="login-form">
                    <div class="form-title">
                        <span class="form-title">Welcome.</span>
                        <span class="form-subtitle">Please login.</span>
                    </div>
                    <div class="alert alert-danger" *ngIf="errorText">
                        <span>{{errorText}}</span>
                    </div>
                    <div class="form-group">
                        <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                        <label class="control-label visible-ie8 visible-ie9">Username</label>
                        <input class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off" placeholder="Username" [(ngModel)]="username" (keydown.enter)="doLogin()" /> 
                    <div class="form-group">
                        <label class="control-label visible-ie8 visible-ie9">Password</label>
                        <input class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off" placeholder="Password" [(ngModel)]="password" (keydown.enter)="doLogin()" 
                        /> </div>
                    <div class="form-actions">
                        <button type="submit" class="btn indygo btn-block uppercase" (click)="doLogin()">Login</button>
                    </div>
                    <div class="form-actions">
                        <div class="pull-right forget-password-block">
                            <a routerLink="/forgotten-pw" id="forget-password" class="forget-password">Forgot Password?</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>   


        
        