<crm-header></crm-header>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="portlet light ">
                <div class="portlet-title tabbable-line">
                    <div class="caption caption-md">
                        <span class="caption-subject bold uppercase"> Keresés </span>
                    </div>
                </div>
                <div class="input-group" id="simple">
                    <input [(ngModel)]="simpleFilterData" type="text" class="form-control simple-search-priv" placeholder="Keresés...">
                    <span class="input-group-btn">
                        <button class="btn indygo uppercase bold" type="button" (click)="simpleSearch()"><i class="icon-magnifier"></i></button>
                    </span>
                </div>
                <div class="portlet-title tabbable-line">
                    <div class="caption caption-md">
                        <span class="caption-subject bold uppercase"> Összetett keresés </span>
                    </div>
                </div>
                <div class="search-page search-content-3">
                    <div class="search-filter ">
                        <div class="search-label uppercase">Tanfolyam neve szerint</div>
                        <div class="input-icon right">
                            <input type="text" class="form-control" placeholder="Tanfolyam neve" [(ngModel)]="filterData.name"> 
                        </div>
                        <div class="search-label uppercase">Tanfolyam tipusa szerint</div>
                        <div class="input-icon right">
                            <input type="text" class="form-control" placeholder="Tanfolyam típusa" [(ngModel)]="filterData.type"> 
                        </div>
                        <div class="search-label uppercase">Tanfolyam indulási időpontja szerint</div>
                        <div class="portlet-body form">
                            <div class="form-group">         
                                <input class="form-control form-control-inline" id="datepicker" type="text" placeholder="Válasszon időpontot!" [(ngModel)]="filterData.startDate"/>
                            </div>    
                        </div>          
                        <div class="search-label uppercase">Tanfolyam helyszíne szerint</div>
                        <div class="input-icon right">
                            <select [(ngModel)]="filterData.location" class="form-control">
                                <option value="">Válasszon!</option>}
                                <option value="">Bp1</option>
                                <option value="">Bp2</option>
                                <option value="">Szeged</option>
                                <option value="">Győr</option>
                                
                            </select>  
                        </div>
                        <button (click)="searchCourse()" class="btn indygo bold uppercase btn-block">Keresés</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="portlet light ">
                <div class="portlet-title tabbable-line">
                    <div class="caption caption-md">
                        <span class="caption-subject bold uppercase"> Tanfolyamok listája </span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table-toolbar">
                        <div class="row"> 
                            <div class="col-md-12">
                                <div class="btn-group pull-right">
                                    <button class="btn green  btn-outline dropdown-toggle" data-toggle="dropdown">Eszközök
                                        <i class="fa fa-angle-down"></i>
                                    </button>
                                    <ul class="dropdown-menu pull-right">
                                        <li>
                                            <a href="javascript:;">
                                                <i class="fa fa-print"></i> Nyomtatás </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">
                                                <i class="fa fa-file-pdf-o"></i> Mentés PDF-ként </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">
                                                <i class="fa fa-file-excel-o"></i> Excel </a>
                                        </li>
                                        <li>
                                            <a routerLink="/training-new">
                                                <i class="fa fa-file-excel-o"></i> Új tanfolyam hozzáadása </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <table class="table table-striped table-bordered table-hover table-checkable order-column" id="sample_1">
                        <thead>
                            <tr>
                                <th>
                                    <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                        <input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes" />
                                        <span></span>
                                    </label>
                                </th>
                                <th> Név </th>
                                <th> Típus </th>
                                <th> Indul </th>
                                <th> Vége </th>
                                <th> Város </th>
                                <th> Opciók </th>
                            </tr>
                        </thead>
                        <tbody *ngIf="allCourses.length == 0">
                            <tr>
                                <td colspan="7" class="text-center"><em>Nincs találat</em></td>
                            </tr>
                        </tbody>
                        <tbody *ngIf="allCourses.length > 0">
                            <tr class="gradeX" *ngFor="let course of allCourses; let i = index;" [ngClass]="{ odd : i%2, even : !(i%2) }">
                                <td>
                                    <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                        <input type="checkbox" class="checkboxes" value="1" />
                                        <span></span>
                                    </label>
                                </td>
                                
                                <td>
                                    <label> {{ course.name }} </label>
                                </td>
                                <td>
                                    <label> {{ course.type }} </label>
                                </td>
                                <td>
                                    <label> {{ course.dateStart }} </label>
                                </td>
                                <td>
                                    <label> {{ course.dateFinish }} </label>
                                </td>
                                <td>
                                    <label> {{ course.location }} </label>
                                </td>
                                <td>
                                    <div class="btn-group">
                                        <button class="btn btn-xs green dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false"> Opciók
                                            <i class="fa fa-angle-down"></i>
                                        </button>
                                        <ul class="dropdown-menu pull-left" role="menu">
                                            <li>
                                                <a href="javascript:;">
                                                    <i class="icon-docs"></i> Részletek </a>
                                            </li>
                                            <li>
                                                <!--<a [routerLink]="['/training-new', course.id]">
                                                    <i class="icon-tag"></i> Szerkesztés  </a> -->
                                                <a [routerLink]="['/trainingDetails', course.id]" routerLinkActive="active"><i class="icon-tag"></i>Szerkesztés</a>
                                            </li>
                                            <li>
                                                <a href="javascript:;">
                                                    <i class="icon-user"></i> Mentés Pdf-ként </a>
                                            </li>
                                            <li>
                                                <a href="javascript:;">
                                                    <i class="icon-user"></i> Nyomtatás </a>
                                            </li>
                                            <li class="divider"> </li>
                                            <li>
                                                <a href="javascript:;" (click)="delete(index); $event.stopPropagation()">
                                                    <i class="icon-flag"></i> Törlés
                                                    <span class="badge badge-success">4</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div> 
<crm-footer></crm-footer>
