<crm-header></crm-header>
<div class="container">
	<div class="row">
		<div class="col-md-4">
			<div class="portlet light ">			
				<div class="portlet-title tabbable-line">
					<div class="caption caption-md">
						<span class="caption-subject bold uppercase"> Keresés </span>
					</div>
				</div>
				<div class="portlet-title tabbable-line">
					<div class="btn-group" role="group">
						<button class="btn" disabled *ngIf="simplySearch">Egyszerű</button>
						<button class="btn indygo" *ngIf="!simplySearch" (click)="changeSearch()">Egyszerű</button>
						<button class="btn" disabled *ngIf="!simplySearch">Összetett</button>
						<button class="btn indygo" *ngIf="simplySearch" (click)="changeSearch()">Összetett</button>
					</div>
				</div>
				<div class="search-page search-content-3" *ngIf="simplySearch">
					<div class="search-filter ">
						<div class="input-icon right">
							<input type="text" class="form-control" placeholder="Név / E-mail / Jogosultság" [(ngModel)]="filterData.simpleText"> </div>
						<button (click)="simpleSearchUser()" class="btn indygo bold uppercase btn-block">Keresés</button>
					</div>
				</div>
				<div class="search-page search-content-3" *ngIf="!simplySearch">
					<div class="search-filter ">
						<div class="search-label uppercase">Név szerint</div>
						<div class="input-icon right">
							<input type="text" class="form-control" placeholder="Név" [(ngModel)]="filterData.name"> </div>
						<div class="search-label uppercase">E-mail cím szerint</div>
						<div class="input-icon right">
							<input type="text" class="form-control" placeholder="E-mail" [(ngModel)]="filterData.email"> </div>
						<div class="search-label uppercase">Jogosultság szerint</div>
						<select [(ngModel)]="filterData.role" class="form-control">
							<option value="">Kérem válasszon!</option>
							<option [value]="r" *ngFor="let r of roles">{{r}}</option>
						</select>
						<button (click)="combinedSearchUser()" class="btn indygo bold uppercase btn-block">Keresés</button>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-8">
			<div class="portlet light ">
				<div class="portlet-title tabbable-line">
					<div class="caption caption-md">
						<span class="caption-subject bold uppercase"> Felhasználók listája</span>
					</div>
				</div>
				<label class="hint pull-left"> Találatok oldalanként: 
                    <select class="form-control input-sm input-xsmall input-inline" [(ngModel)]="currentItemsPerPage">
                        <option *ngFor="let i of itemsPerPage" value="{{ i.key }}">{{ i.text }}</option>
                    </select>
				</label>
				<div class="portlet-body">
					<table class="table table-striped table-bordered table-hover text-center order-column dataTable no-footer" id="sample_1">
						<thead>
							<tr>
								<th> Név </th>
								<th class="text-center"> Email </th>
								<th class="text-center"> Felhasználó jogköre </th>
							</tr>
						</thead>
						<tbody *ngIf="filteredUsers.length == 0">
							<tr>
								<td colspan="4" class="text-center"><em>Nincs ilyen felhasználó.</em></td>
							</tr>
						</tbody>
						<tbody *ngIf="filteredUsers.length > 0">
							<tr class="gradeX" *ngFor="let user of filteredUsers; let i = index;" [ngClass]="{ odd : i%2, even : !(i%2) }" (click)="navigateToUser(user.id)">
								<td class="text-left">{{ user.name }}</td>
								<td> {{ user.email }} </td>
								<td> <span class="label label-sm label-primary"> {{ user.role }} </span> </td>
							 </tr>
						</tbody>
					</table>
					<nav aria-label="...">
						<ul class="pagination justify-content-end">
                            <li class="page-item" [ngClass]="{ disabled : currentPage == 1 }"><a class="page-link" (click)="getNeededPage(1)">
                                <i class="fa fa-angle-double-left"></i>                
                            </a></li>
                            <li class="page-item" [ngClass]="{ disabled : currentPage == 1 }"><a class="page-link" (click)="getNeededPage(currentPage-1)">
                                <i class="fa fa-angle-left"></i>                
                            </a></li>
							<li class="page-item" [ngClass]="{ active : p == currentPage }" *ngFor="let p of pagesList()">
                                <a class="page-link" (click)="getNeededPage(p)">{{p}}</a>
                            </li>
							<li class="page-item" [ngClass]="{ disabled : currentPage == pageCount }"><a class="page-link" (click)="getNeededPage(currentPage+1)">
                                <i class="fa fa-angle-right"></i>                
                            </a></li>
                            <li class="page-item" [ngClass]="{ disabled : currentPage == pageCount }"><a class="page-link" (click)="getNeededPage(pageCount)">
                                <i class="fa fa-angle-double-right"></i>                
                            </a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
</div> 
<crm-footer></crm-footer>
