<crm-header></crm-header>
<div class="container">
   <div class="portlet light ">
      <div class="portlet-title tabbable-line">
         <div class="caption caption-md">
            <span class="caption-subject bold uppercase">Kurzus hozzáadása</span>
         </div>
      </div>
   </div>
   <div class="row">
      <div class = col-md-3>
         <img src="../../assets/images/toll.jpg" style="margin-top: 40px;">
      </div>
      <div class="col-md-7 ">
         <div class="form-group col-md-6" id="colmd-course" [ngClass]="{ 'has-error' : errors.courseName }" >
            <p class="hint" >Kurzus neve <span class="must-have-write"></span>:</p>
            <input class="form-control placeholder-no-fix" name="discounts" type="text" [(ngModel)]="courseIdGet.name">
            <span class="help-block" *ngIf="errors.courseName">{{ errors.courseName}}</span>
         </div>
         <div class="form-group col-md-6" id="colmd-courseR">
            <p class="hint">Jelentkezési határidő <span class="required"></span>:</p>
            <input class="form-control placeholder-no-fix" data-required="1" id="datepicker"  name="application-deadline" type="text" [(ngModel)]="courseIdGet.applicationDeadline">
         </div>
         <div class="form-group">
            <p class="hint">Típusok Listája <span class="must-have-write">*</span>:</p>
            <select class="form-control select2me placeholder-no-fix"  multiple name="courseTypes" [(ngModel)]="course.types">
            <option *ngFor="let ct of courseTypes" [ngValue]="ct.type">{{ct.type}}</option>
            </select>
         </div>
         <div class="form-group">
            <p class="hint" >Kurzus típus hozzáadása <span class="must-have-write"></span>:</p>
            <input class="form-control placeholder-no-fix" name="discounts" type="text" [(ngModel)]="addCourseType">
            <button class="btn btn-primary" (click)="addCourseTypeButton()" >Hozzáadása</button>
         </div>
         <div class="form-group" [ngClass]="{ 'has-error' : errors.courseDescr }">
            <p class="hint">Leírás <span class="must-have-write">*</span>:</p>
            <textarea style="resize: none" class="ckeditor form-control placeholder-no-fix" data-error-container="#editor2_error" name="description" rows="6" [(ngModel)]="courseIdGet.description"></textarea>
            <span class="help-block" *ngIf="errors.name">{{ errors.courseDescr }}</span>
            <div id="editor2_error"></div>
         </div>
         <div class="form-group col-md-3" id="colmd-course">
            <p class="hint">Kedvezmény <span class="must-have-write"></span>:</p>
            <input class="form-control placeholder-no-fix" name="discounts" type="text" [(ngModel)]="courseIdGet.discount">
         </div>
         <div class="form-group col-md-3">
            <p class="hint">Maxlétszám <span class="must-have-write"></span>:</p>
            <input class="form-control placeholder-no-fix" data-required="1" name="max-person" type="text" [(ngModel)]="courseIdGet.maxStudents">
         </div>
         <div class="form-group col-md-3">
            <p class="hint">Minlétszám <span class="must-have-write"></span>:</p>
            <input class="form-control placeholder-no-fix" data-required="1" name="min-person" type="text" [(ngModel)]="courseIdGet.minStudents">
         </div>
         <div class="form-group col-md-3" id="colmd-courseR">
            <p class="hint">Ár <span class="must-have-write"></span>:</p>
            <input class="form-control placeholder-no-fix" data-required="1" name="name" type="text" [(ngModel)]="courseIdGet.price">
         </div>
         <br>
         <div align="right">
            <button  class="btn btn-primary" (click)="backToCourseEvent()">Ugrás a tréningekhez</button>
            <br>
         </div>
      </div>
   </div>
</div>
<!-- traning hozzáadás kezdete -->
<div class="container">
   <div class = col-md-3>
   </div>
   <div class="col-md-7 ">
      <div class="portlet-title tabbable-line" >
         <div class="portlet box green" >
            <div class="portlet-title">
               <div class="caption">
                  <div class="caption caption-md">
                     <span class="caption-subject bold uppercase" id="textCourseEvent">Tanfolyam hozzáadása </span>
                  </div>
               </div>
               <div class="tools">
                  <a href="javascript:;" class="collapse"> </a>
                  <a href="javascript:;" class="reload"> </a>
               </div>
            </div>
            <div class="portlet-body form">
               <div class="form-group">
                  <div data-repeater-list="group-a">
                     <div data-repeater-item class="mt-repeater-item">
                        <!-- jQuery Repeater Container -->
                        <div class="form-group col-md-6" [ngClass]="{ 'has-error' : errors.name }" >
                           <label class="hint">Név<span class="must-have-write">*</span>:</label>
                           <input type="text" name="text-input" class="form-control" value="John Smith" [(ngModel)]="training.name"/>
                           <span class="help-block" *ngIf="errors.name">{{ errors.name }}</span>
                        </div>
                        <!--<div class="form-group">
                           <label class="hint">dátum :</label>
                           <input class="form-control placeholder-no-fix" data-required="1" id="datepicker"  name="application-deadline" type="text" [(ngModel)]="trainingDateStartDate">
                           </div> 
                           <div class="form-group">
                           <label>időpont : óra:perc:mp</label>
                           <input type="text" class="form-control" id="" [(ngModel)]="trainingDateFinishTime" >
                           </div>-->
                        <div class="form-group col-md-6">
                           <label class="hint">Terem<span class="must-have-write"></span>:</label>
                           <input type="text" name="text-input" class="form-control" value="2 terem" [(ngModel)]="training.location.room" /> 
                        </div>
                        <div class="form-group col-md-6">
                           <label class="hint">Tanfolyam kezdése<span class="must-have-write"></span>:</label>
                           <input type="text" name="text-input" id="" 
                           class="form-control"  [(ngModel)]="training.dateStart"/>
                           <span class="help-block"> év-hónap-nap óra:perc:másodperc </span>
                        </div>
                        <div>
                        </div>
                        <div class="form-group col-md-6">
                           <label class="hint">Tanfolyam vége<span class="must-have-write"></span>:</label>
                           <input type="text" name="text-input" class="form-control" id=""   [(ngModel)]="training.dateFinish" />
                           <span class="help-block"> év-hónap-nap óra:perc:másodperc </span> 
                        </div>
                        <div class="mt-repeater-input form-group col-md-6">
                           <label class="hint">Tanárok<span class="must-have-write"></span>:</label>
                           <select class="form-control" multiple name="trainersList"  [(ngModel)]="training.teachers">
                           <option *ngFor="let tr of trainersList" [ngValue]="tr">{{tr.name}}</option>
                           </select>
                        </div>
                        <div class="form-group col-md-6" [ngClass]="{ 'has-error' : errors.description }">
                           <label class="hint">Tanfolyam leírása<span class="must-have-write"></span>:<span class="required">*</span></label>
                           <textarea name="textarea-input" class="form-control" rows="3" [(ngModel)]="training.description" >This role is to follow up with all meetings and ensure that each operational process flow moves accordingly in a timely manner.</textarea>
                           <span class="help-block" *ngIf="errors.name">{{ errors.description }}</span>
                        </div>
                        <div>
                           <div class="mt-repeater-input">
                              <div>
                                 <div class="portlet light ">
                                    <div class="portlet-title tabbable-line">
                                       <div class="caption caption-md col-md-12">
                                          <span class="caption-subject bold uppercase">Cím</span>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="form-group col-md-3">
                                    <label class="hint">Irányítószám<span class="must-have-write"></span>: </label>
                                    <input type="text" name="text-input" class="form-control placeholder-no-fix" value="1111" [(ngModel)]="training.location.address.zip" /> 
                                 </div>
                                 <div class="form-group col-md-3">
                                    <label class="hint">Város<span class="must-have-write"></span>: </label>
                                    <input type="text" name="text-input" class="form-control placeholder-no-fix" value="Budapest"[(ngModel)]="training.location.address.city" /> 
                                 </div>
                                 <div class="form-group col-md-3">
                                    <label class="hint">Utca<span class="must-have-write"></span>: </label>
                                    <input type="text" name="text-input" class="form-control placeholder-no-fix" value="Progmatic utca" [(ngModel)]="training.location.address.street" /> 
                                 </div>
                                 <div class="form-group col-md-3">
                                    <label class="hint">Házszám<span class="must-have-write"></span>: </label>
                                    <input type="text" name="text-input" class="form-control placeholder-no-fix" value="1"
                                    [(ngModel)]="training.location.address.number" /> 
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <button  data-repeater-create class="btn btn-success mt-repeater-add"(click)="addCourseEvents()">
                     <i class="fa fa-plus"></i> Hozzáad
                     </button>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- traning hozzáadás vége -->
<div class="container">
   <div class = col-md-3>
   </div>
   <div class="portlet-light page-content-inner">
      <div class="row">
         <div class="portlet light ">
            <div class="portlet light ">
               <div class="portlet-title tabbable-line">
                  <div class="caption caption-md">
                     <span class="caption-subject bold uppercase">Kurzushoz adott tanfolyamok</span>
                  </div>
               </div>
            </div>
            <table class="table table-striped table-bordered table-hover order-column" id="sample_1">
               <thead>
                  <tr>
                     <th> Név </th>
                     <th> tanfolyam kezdése  </th>
                     <th> tanfolyam vége </th>
                     <th> Tanfolyam leírása </th>
                     <th style="width:13%"> Tanárok </th>
                     <th> Terem </th>
                     <th> irányítószám </th>
                     <th> város </th>
                     <th> utca </th>
                     <th> házszám </th>
                     <th> törés </th>
                  </tr>
               </thead>
               <!-- courseIdGet-ből ki kell vennem a courseEvents és azo kel átíterélni -->
               <tbody *ngFor="let te of courseIdGet.courseEvents; let i = index">
                  <tr class="odd gradeX">
                     <td><textarea  style="resize: none" class="teacherTextarea" >{{te.name}}</textarea></td>
                     <td><textarea  style="resize: none" class="teacherTextarea" >{{te.dateStart}}</textarea></td>
                     <td><textarea  style="resize: none" class="teacherTextarea" >{{te.dateFinish}}</textarea></td>
                     <td class="teacherTd"><textarea style="resize: none" class="teacherTextarea"  >{{te.courseEventDescription}}</textarea></td>
                     <td>
                        <li style = "list-style-type: none;" *ngFor="let teacher of te.teachers; let i = index">{{teacher.name}}</li>
                     </td>
                     <td><textarea  style="resize: none" class="teacherTextarea" >{{te.location.room}}</textarea></td>
                     <td><textarea  style="resize: none" class="teacherTextarea" >{{te.location.address.zip}}</textarea></td>
                     <td><textarea  style="resize: none" class="teacherTextarea" >{{te.location.address.city}}</textarea></td>
                     <td><textarea  style="resize: none" class="teacherTextarea" >{{te.location.address.street}}</textarea></td>
                     <td><textarea  style="resize: none" class="teacherTextarea" >{{te.location.address.number}}</textarea></td>
                     <div class="mt-repeater-input">
                        <button data-repeater-delete class="btn btn-danger mt-repeater-delete" (click)="deleteCourseEvents(i)">
                        <i class="fa fa-close"></i>Delete</button>
                     </div>
                  </tr>
               </tbody>
               <tbody *ngFor="let te of trainingEvents; let i = index">
                  <tr class="odd gradeX">
                     <td>{{te.name}}</td>
                     <td>{{te.dateStart}}</td>
                     <td>{{te.dateFinish}}</td>
                     <td class="teacherTd"><textarea disabled style="resize: none" class="teacherTextarea"  >{{te.description}}</textarea></td>
                     <td>
                        <li style = "list-style-type: none;" *ngFor="let teacher of te.teachers; let i = index">{{teacher.name}}</li>
                     </td>
                     <td>{{te.location.room}}</td>
                     <td>{{te.location.address.zip}}</td>
                     <td>{{te.location.address.city}}</td>
                     <td>{{te.location.address.street}}</td>
                     <td>{{te.location.address.number}}</td>
                     <div class="mt-repeater-input">
                        <button data-repeater-delete class="btn btn-danger mt-repeater-delete" (click)="deleteCourseEvents(i)">
                        <i class="fa fa-close"></i>Delete</button>
                     </div>
                  </tr>
               </tbody>
            </table>
         </div>
         <div align="right">
            <button  class="btn btn-primary" (click)="backToCourse()">Ugrás a kurzushoz</button>
         </div>
      </div>
   </div>
   <div align="right">
      <p class="hint">A <span class="must-have-write">*</span>-al írt mezők kitöltése kötelező!</p>
      <button class="btn btn-primary" (click)="trainingRequest()">Kész</button>
   </div>
</div>
<br>
<crm-footer></crm-footer>